:root {
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
}

body {
  font-family: "Ubuntu", sans-serif;
  background: var(--background-color);
  color: var(--text-color);
  font-weight: var(--font-weight);
  transition: background 0.3s ease-in-out, color 0.6s ease-in-out;
}

body.light {
  --background-color: var(--white);
  --text-color: var(--black);
  --font-weight: 400;
}

body.dark {
  --background-color: var(--black);
  --text-color: var(--white);
  --font-weight: 500;
}

nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: var(--text-color);

}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--background-color);

  @media screen (max-width: 960px) {
    display: none;
  }
}




.navbarItems {
  display: flex;
  
  @media screen (max-width: 960px) {
    display: none;
  }
}

.LinkItems {
  display: flex;
  
  @media screen (max-width: 900px) {
    display: none;
  }
}

.homePageContainer {
  display: flex;
  backdrop-filter: blur(20px);
  justify-content: center;
  border-radius: 10px; 
  flex-direction: column;
  width: 100%;

  @media screen (max-width: 960px) {
    width: 95%;
  }
}


.Layout {
  position: relative;
  width: 100%;
  
  @media screen (max-width: 960px) {
    display: flex;
  }
}


.projectThumbnail {
  display: flex;
  border-radius: 10px;
  justify-content: center;
  object-fit: cover;
  height: 180px;
  width: 210px;
  flex-wrap: wrap;
}



.PostsContainer {
  display: flex;
  flex-wrap: wrap;

  @media screen (max-width: 960px) {
    flex-direction: column;
  }
}

.IntroContainer {

  @media screen (max-width: 900px) {
    margin-left: 20%;
    height: 200px;
  }
}